extends ../../_layout/default

block view

  .container-fluid

    .row
      .col-12

        .card.mb-4

          .card-header.d-flex.justify-content-between.align-items-center

            strong Composition Teams

            button.btn.btn-primary(
              type='button'
              id='btnAddTeam'
            )
              i.fa.fa-plus.me-2
              | Add Composition Team

          .card-body

            div.d-none.text-center.mb-3(
              id='teamLoading'
            )
              .spinner-border.text-primary

            .row.mb-3

              .col-md-6

                input.form-control(
                  type='text'
                  id='searchTeam'
                  placeholder='Search Composition, Pilot, Stoker or Status'
                )

            .table-responsive

              table.table.table-striped.table-hover

                thead

                  tr
                    th Composition Team
                    th Pilot
                    th Stoker
                    th Team Type
                    th Effective Date
                    th Status
                    th Actions

                tbody#teamsTableBody

            .row.mt-3

              .col-md-6

                button.btn.btn-secondary(
                  type='button'
                  id='btnRefreshTeams'
                )
                  | Refresh

              .col-md-6.text-end

                button.btn.btn-outline-primary.me-2(
                  type='button'
                  id='btnPreviousTeamPage'
                )
                  | Previous

                span#teamPaginationInfo.mx-2
                  | Page 1

                button.btn.btn-outline-primary(
                  type='button'
                  id='btnNextTeamPage'
                )
                  | Next

  .modal.fade(
    id='teamModal'
    tabindex='-1'
    aria-hidden='true'
  )

    .modal-dialog.modal-lg

      .modal-content

        .modal-header

          h5.modal-title#teamModalTitle
            | Composition Team

          button.btn-close(
            type='button'
            data-coreui-dismiss='modal'
          )

        .modal-body

          input(
            type='hidden'
            id='teamId'
          )

          .row.g-3

            .col-md-12

              label.form-label Composition Team

              input.form-control(
                id='teamName'
                readonly
                placeholder='Generated Automatically'
              )

            .col-md-6

              label.form-label Pilot

              select.form-select(
                id='pilotAthleteId'
              )

            .col-md-6

              label.form-label Stoker

              select.form-select(
                id='stokerAthleteId'
              )

            .col-md-6

              label.form-label Status

              input.form-control(
                id='teamStatus'
                readonly
              )

            .col-md-6

              label.form-label Effective Date

              input.form-control(
                type='date'
                id='effectiveDate'
              )

            .col-md-12

              label.form-label Change Reason

              input.form-control(
                type='text'
                id='changeReason'
                placeholder='Optional'
              )

          .mt-3.text-danger(
            id='teamFormError'
          )

        .modal-footer

          button.btn.btn-secondary(
            type='button'
            data-coreui-dismiss='modal'
          )
            | Cancel

          button.btn.btn-success(
            type='button'
            id='btnSaveTeam'
          )
            | Save Composition Team

  .modal.fade(
    id='deleteTeamModal'
    tabindex='-1'
    aria-hidden='true'
  )

    .modal-dialog

      .modal-content

        .modal-header

          h5.modal-title
            | Remove Composition Team

          button.btn-close(
            type='button'
            data-coreui-dismiss='modal'
          )

        .modal-body

          p
            | Are you sure you want to deactivate this composition team?

          input(
            type='hidden'
            id='deleteTeamId'
          )

        .modal-footer

          button.btn.btn-secondary(
            type='button'
            data-coreui-dismiss='modal'
          )
            | Cancel

          button.btn.btn-danger(
            type='button'
            id='btnConfirmDeleteTeam'
          )
            | Remove

append pageScripts

  script(src='js/composition-teams.js')