extends ../../_layout/default

block view

  .container-fluid

    .row

      .col-12

        .card.mb-4

          .card-header

            h4.mb-0 Event Participants

          .card-body

            div.d-none.text-center.mb-3(
              id='participantLoading'
            )
              .spinner-border.text-primary

            .row.g-3.mb-4

              .col-md-6

                label.form-label Event

                select.form-select(
                  id='selectedEventId'
                )

              .col-md-6.d-flex.align-items-end

                button.btn.btn-primary(
                  type='button'
                  id='btnLoadEventParticipants'
                )
                  i.fa.fa-search.me-2
                  | Load Event

    .row

      .col-lg-5

        .card.mb-4

          .card-header

            h5.mb-0 Available Teams

          .card-body

            .mb-3

              input.form-control(
                type='text'
                id='searchAvailableTeams'
                placeholder='Search Teams'
              )

            .table-responsive

              table.table.table-hover

                thead

                  tr

                    th(style='width:50px')

                      input(
                        type='checkbox'
                        id='selectAllTeams'
                      )

                    th Team

                tbody#availableTeamsBody

            .mt-3

              button.btn.btn-success(
                type='button'
                id='btnRegisterSelectedTeams'
              )
                i.fa.fa-plus.me-2
                | Register Selected Teams

      .col-lg-7

        .card.mb-4

          .card-header.d-flex.justify-content-between.align-items-center

            div

              h5.mb-0(
                id='selectedEventTitle'
              )
                | Registered Teams

              small.text-muted(
                id='selectedEventDate'
              )

            button.btn.btn-secondary(
              type='button'
              id='btnRefreshParticipants'
            )
              i.fa.fa-refresh.me-2
              | Refresh

          .card-body

            .mb-3

              input.form-control(
                type='text'
                id='searchParticipant'
                placeholder='Search Team or Status'
              )

            .mt-2

              div.text-success.fw-bold(
                id='participantSuccess'
              )

              div.text-danger.fw-bold(
                id='participantError'
              )

            .table-responsive

              table.table.table-striped.table-hover

                thead

                  tr

                    th Team

                    th Registration Date

                    th Status

                    th Actions

                tbody#participantsTableBody

            .row.mt-3

              .col-md-6

              .col-md-6.text-end

                button.btn.btn-outline-primary.me-2(
                  type='button'
                  id='btnPreviousPage'
                )
                  | Previous

                span#paginationInfo.mx-2
                  | Page 1

                button.btn.btn-outline-primary(
                  type='button'
                  id='btnNextPage'
                )
                  | Next

  .modal.fade(
    id='participantStatusModal'
    tabindex='-1'
    aria-hidden='true'
  )

    .modal-dialog

      .modal-content

        .modal-header

          h5.modal-title
            | Update Participant Status

          button.btn-close(
            type='button'
            data-coreui-dismiss='modal'
          )

        .modal-body

          input(
            type='hidden'
            id='participantId'
          )

          .mb-3

            label.form-label Team

            input.form-control(
              type='text'
              id='participantTeamName'
              readonly
            )

          .mb-3

            label.form-label Status

            select.form-select(
              id='statusId'
            )

          .text-danger.mt-2(
            id='participantFormError'
          )

        .modal-footer

          button.btn.btn-secondary(
            type='button'
            data-coreui-dismiss='modal'
          )
            | Cancel

          button.btn.btn-success(
            type='button'
            id='btnSaveParticipantStatus'
          )
            | Save Status

  .modal.fade(
    id='deleteParticipantModal'
    tabindex='-1'
    aria-hidden='true'
  )

    .modal-dialog

      .modal-content

        .modal-header

          h5.modal-title
            | Remove Team From Event

          button.btn-close(
            type='button'
            data-coreui-dismiss='modal'
          )

        .modal-body

          p
            | Are you sure you want to remove this team from the selected event?

          input(
            type='hidden'
            id='deleteParticipantId'
          )

        .modal-footer

          button.btn.btn-secondary(
            type='button'
            data-coreui-dismiss='modal'
          )
            | Cancel

          button.btn.btn-danger(
            type='button'
            id='btnConfirmDeleteParticipant'
          )
            | Remove Team

append pageScripts

  script(src='js/participants.js')