extends ../../_layout/default

block view

  .container-fluid

    .row
      .col-12

        .card.mb-4

          .card-header.d-flex.justify-content-between.align-items-center

            strong Participant Registrations

            button.btn.btn-primary(
              type='button'
              id='btnNewParticipantRegistration'
            )
              i.fa.fa-plus.me-2
              | New Registration

          .card-body

            .row.mb-3

              .col-md-3
                input.form-control(
                  type='text'
                  id='searchParticipantRegistration'
                  placeholder='Search Registrations'
                )

              .col-md-2
                select.form-select(id='occurrenceFilter')
                  option(value='')
                    | All Occurrences

              .col-md-2
                select.form-select(id='programFilter')
                  option(value='')
                    | All Programs

              .col-md-2
                button.btn.btn-success.w-100(
                  type='button'
                  id='btnExportExcel'
                )
                  i.fa.fa-file-excel.me-2
                  | Excel

              .col-md-2
                button.btn.btn-danger.w-100(
                  type='button'
                  id='btnExportPdf'
                )
                  i.fa.fa-file-pdf.me-2
                  | PDF

            .row.mb-3

              .col-md-3
                .card
                  .card-body.text-center
                    h3#totalRegistrations 0
                    div Registrations

              .col-md-3
                .card
                  .card-body.text-center
                    h3#totalTeams 0
                    div Teams

              .col-md-3
                .card
                  .card-body.text-center
                    h3#totalAthletes 0
                    div Athletes

              .col-md-3
                .card
                  .card-body.text-center
                    h3#participatedCount 0
                    div Participated

            .row.mb-3

              .col-md-4
                .card
                  .card-body.text-center
                    h3#topCounty -
                    div Top County

              .col-md-4
                .card
                  .card-body.text-center
                    h3#topProgram -
                    div Top Program

              .col-md-4
                .card
                  .card-body.text-center
                    h3#attendanceRate 0%
                    div Attendance Rate

            .table-responsive

              table.table.table-hover.table-bordered.table-sm(
                id='participantRegistrationsTable'
              )
                thead
                  tr
                    th Event Name
                    th Subcounty
                    th Event Area
                    th Start Date
                    th Start Time
                    th End Date
                    th End Time
                    th Program
                    th Participant Type
                    th Participant Name
                    th Status
                    th Actions

                tbody#participantRegistrationTableBody

            .row.mt-3

              .col-md-6
                small.text-muted#paginationInfo

              .col-md-6.text-end
                ul.pagination.justify-content-end.mb-0#paginationContainer

  .modal.fade(
    id='participantRegistrationModal'
    tabindex='-1'
    aria-hidden='true'
  )

    .modal-dialog.modal-xl

      .modal-content

        .modal-header

          h5.modal-title
            | Participant Registration

          button.btn-close(
            type='button'
            data-coreui-dismiss='modal'
          )

        .modal-body

          input(
            type='hidden'
            id='participantInstanceId'
          )

          .card.mb-4

            .card-header
              strong Registration Context

            .card-body

              .row

                .col-md-4.mb-3
                  label.form-label Event Name

                  select.form-select(id='eventId')
                    option(value='')
                      | Select Event

                .col-md-4.mb-3
                  label.form-label Event Occurrence

                  select.form-select(id='eventInstanceId')
                    option(value='')
                      | Select Event Occurrence

                .col-md-4.mb-3
                  label.form-label Program

                  select.form-select(id='programId')
                    option(value='')
                      | Select Program

          .card.mb-4

            .card-header
              strong Occurrence Details

            .card-body

              .row

                .col-md-4.mb-3
                  label.form-label Event Area
                  input.form-control(
                    id='eventArea'
                    readonly
                  )

                .col-md-4.mb-3
                  label.form-label Subcounty
                  input.form-control(
                    id='subcountyName'
                    readonly
                  )

                .col-md-4.mb-3
                  label.form-label Organizer
                  input.form-control(
                    id='organizer'
                    readonly
                  )

              .row

                .col-md-3.mb-3
                  label.form-label Start Date
                  input.form-control(
                    id='startDate'
                    readonly
                  )

                .col-md-3.mb-3
                  label.form-label Start Time
                  input.form-control(
                    id='startTime'
                    readonly
                  )

                .col-md-3.mb-3
                  label.form-label End Date
                  input.form-control(
                    id='endDate'
                    readonly
                  )

                .col-md-3.mb-3
                  label.form-label End Time
                  input.form-control(
                    id='endTime'
                    readonly
                  )

          .card.mb-4

            .card-header
              strong Available Participants

            .card-body

              .row.mb-3

                .col-md-4
                  input.form-control(
                    type='text'
                    id='participantSearch'
                    placeholder='Search Participant'
                  )

                .col-md-3
                  select.form-select(
                    id='participantTypeFilter'
                  )

                    option(value='')
                      | All Types

                    option(value='ATHLETE')
                      | Athletes

                    option(value='TEAM')
                      | Teams

              .table-responsive

                table.table.table-bordered

                  thead

                    tr
                      th(style='width:60px')
                      th Type
                      th Participant Name

                  tbody#availableParticipantsBody

          .card.mb-4

            .card-header
              strong Participant Status

            .card-body

              .row

                .col-md-4.mb-3

                  label.form-label Status

                  select.form-select(
                    id='participantStatusId'
                  )

                    option(value='')
                      | Select Status

          .alert.alert-danger.d-none(
            id='participantRegistrationError'
          )

          .alert.alert-success.d-none(
            id='participantRegistrationSuccess'
          )

        .modal-footer

          button.btn.btn-secondary(
            type='button'
            data-coreui-dismiss='modal'
          )
            | Close

          button.btn.btn-warning(
            type='button'
            id='btnBulkStatusUpdate'
          )
            | Bulk Status Update

          button.btn.btn-primary(
            type='button'
            id='btnSaveParticipantRegistration'
          )
            | Save Registration

append pageScripts

  script(src='js/participants.js')