extends ../../_layout/default

block view

  .container-fluid

    .row

      .col-12

        .card.mb-4

          .card-header.d-flex.justify-content-between.align-items-center

            strong Performance

            button.btn.btn-primary(
              type='button'
              id='btnAddPerformance'
            )
              i.fa.fa-plus.me-2
              | Add Performance

          .card-body

            div.d-none.text-center.mb-3(
              id='performanceLoading'
            )
              .spinner-border.text-primary

            .row.mb-3

              .col-md-4

                input.form-control(
                  type='text'
                  id='searchPerformance'
                  placeholder='Search Team'
                )

            .table-responsive

              table.table.table-striped.table-hover

                thead

                  tr

                    th Date
                    th Team
                    th Source
                    th Distance
                    th Duration
                    th Avg Speed
                    th Avg Heart Rate
                    th Max Heart Rate
                    th Avg Cadence
                    th Avg Watts
                    th TSS
                    th Actions

                tbody#performanceTableBody

            .row.mt-3

              .col-md-6

                button.btn.btn-secondary(
                  type='button'
                  id='btnRefreshPerformance'
                )
                  | Refresh

              .col-md-6.text-end

                button.btn.btn-outline-primary.me-2(
                  type='button'
                  id='btnPreviousPage'
                )
                  | Previous

                span#paginationInfo.mx-2
                  | Page 1

                button.btn.btn-outline-primary(
                  type='button'
                  id='btnNextPage'
                )
                  | Next

  .modal.fade(
    id='performanceModal'
    tabindex='-1'
    aria-hidden='true'
  )

    .modal-dialog.modal-xl

      .modal-content

        .modal-header

          h5.modal-title#performanceModalTitle
            | Performance

          button.btn-close(
            type='button'
            data-coreui-dismiss='modal'
          )

        .modal-body

          input(
            type='hidden'
            id='performanceId'
          )

          .row.g-3

            .col-md-4

              label.form-label Source Type

              select.form-select(
                id='sourceType'
              )

                option(value='')
                  | Select Source

                option(value='TRAINING')
                  | Training Session

                option(value='COMPETITION')
                  | Competition Result

            .col-md-4

              label.form-label Event

              select.form-select(
                id='eventId'
              )

            .col-md-4

              label.form-label Source Record

              select.form-select(
                id='sourceRecordId'
              )

          hr

          .row.g-3

            .col-md-3

              label.form-label Date

              input.form-control(
                id='performanceDate'
                readonly
              )

            .col-md-3

              label.form-label Participant

              input.form-control(
                type='text'
                id='participantDisplay'
                readonly
              )

              input(
                type='hidden'
                id='teamId'
              )

              input(
                type='hidden'
                id='athleteId'
              )

            .col-md-3

              label.form-label Distance KM

              input.form-control(
                id='distanceKm'
                readonly
              )

            .col-md-3

              label.form-label Duration Minutes

              input.form-control(
                id='durationMinutes'
                readonly
              )

            .col-md-3

              label.form-label Average Speed

              input.form-control(
                id='avgSpeedKmh'
                readonly
              )

            .col-md-3

              label.form-label Maximum Speed

              input.form-control(
                id='maxSpeedKmh'
                readonly
              )

          hr

          .row.g-3

            .col-md-4

              label.form-label Average Watts

              input.form-control(
                type='number'
                min='0'
                id='avgWatts'
              )

            .col-md-4

              label.form-label Maximum Watts

              input.form-control(
                type='number'
                min='0'
                id='maxWatts'
              )

            .col-md-4

              label.form-label Normalized Power

              input.form-control(
                type='number'
                min='0'
                id='normalizedPower'
              )

            .col-md-4

              label.form-label Average Cadence RPM

              input.form-control(
                type='number'
                min='0'
                id='avgCadenceRpm'
              )

            .col-md-4

              label.form-label Maximum Cadence RPM

              input.form-control(
                type='number'
                min='0'
                id='maxCadenceRpm'
              )

            .col-md-4

              label.form-label Training Stress Score

              input.form-control(
                type='number'
                min='0'
                id='trainingStressScore'
              )

            .col-md-6

              label.form-label Average Heart Rate

              input.form-control(
                type='number'
                min='0'
                id='avgHeartRate'
              )

            .col-md-6

              label.form-label Maximum Heart Rate

              input.form-control(
                type='number'
                min='0'
                id='maxHeartRate'
              )

            .col-md-12

              label.form-label Elevation Gain

              input.form-control(
                type='number'
                min='0'
                id='elevationGain'
              )

          .mt-3.text-danger(
            id='performanceFormError'
          )

        .modal-footer

          button.btn.btn-secondary(
            type='button'
            data-coreui-dismiss='modal'
          )
            | Cancel

          button.btn.btn-success(
            type='button'
            id='btnSavePerformance'
          )
            | Save Performance

  .modal.fade(
    id='deletePerformanceModal'
    tabindex='-1'
    aria-hidden='true'
  )

    .modal-dialog

      .modal-content

        .modal-header

          h5.modal-title
            | Delete Performance

          button.btn-close(
            type='button'
            data-coreui-dismiss='modal'
          )

        .modal-body

          p
            | Are you sure you want to delete this performance record?

          input(
            type='hidden'
            id='deletePerformanceId'
          )

        .modal-footer

          button.btn.btn-secondary(
            type='button'
            data-coreui-dismiss='modal'
          )
            | Cancel

          button.btn.btn-danger(
            type='button'
            id='btnConfirmDeletePerformance'
          )
            | Delete

append pageScripts

  script(src='js/performance.js')