extends ../../_layout/default

block view
  .container-fluid

    .row
      .col-12

        .card.mb-4

          .card-header.d-flex.justify-content-between.align-items-center

            strong Staff

            button.btn.btn-primary(
              type='button'
              id='btnAddTeam'
            )
              i.fa.fa-plus.me-2
              | Add Staff

          .card-body

            div.d-none.text-center.mb-3(
              id='teamLoading'
            )
              .spinner-border.text-primary

            .row.mb-3

              .col-md-4

                input.form-control(
                  type='text'
                  id='searchTeam'
                  placeholder='Search Staff'
                )

            .table-responsive

              table.table.table-striped.table-hover

                thead

                  tr

                    th Staff Code
                    th Full Name
                    th Role
                    th Phone
                    th Employment Status
                    th Contract Type
                    th Status
                    th Actions

                tbody#teamsTableBody

            .row.mt-3

              .col-md-6

                button.btn.btn-secondary(
                  type='button'
                  id='btnRefreshTeams'
                )
                  | Refresh

              .col-md-6.text-end

                button.btn.btn-outline-primary.me-2(
                  type='button'
                  id='btnPreviousTeamPage'
                )
                  | Previous

                span#teamPaginationInfo.mx-2
                  | Page 1

                button.btn.btn-outline-primary(
                  type='button'
                  id='btnNextTeamPage'
                )
                  | Next
  .modal.fade(
    id='teamModal'
    tabindex='-1'
    aria-hidden='true'
  )

    .modal-dialog.modal-xl.modal-dialog-scrollable

      .modal-content

        .modal-header

          h5.modal-title#teamModalTitle
            | Staff

          button.btn-close(
            type='button'
            data-coreui-dismiss='modal'
          )

        .modal-body

          input(
            type='hidden'
            id='staffId'
          )
          ul.nav.nav-tabs(
            role='tablist'
          )

            li.nav-item
              button.nav-link.active(
                type='button'
                data-coreui-toggle='tab'
                data-coreui-target='#staffProfileTab'
              )
                | Profile

            li.nav-item
              button.nav-link(
                type='button'
                data-coreui-toggle='tab'
                data-coreui-target='#staffAssignmentsTab'
              )
                | Assignments

            li.nav-item
              button.nav-link(
                type='button'
                data-coreui-toggle='tab'
                data-coreui-target='#staffQualificationsTab'
              )
                | Qualifications

            li.nav-item
              button.nav-link(
                type='button'
                data-coreui-toggle='tab'
                data-coreui-target='#staffCertificationsTab'
              )
                | Certifications

            li.nav-item
              button.nav-link(
                type='button'
                data-coreui-toggle='tab'
                data-coreui-target='#staffReviewsTab'
              )
                | Reviews

          .tab-content.mt-4
            #staffProfileTab.tab-pane.fade.show.active

              .row.g-3

                .col-md-3

                  label.form-label Staff Code

                  input.form-control(
                    id='staffCode'
                  )

                .col-md-4

                  label.form-label First Name

                  input.form-control(
                    id='firstName'
                  )

                .col-md-5

                  label.form-label Last Name

                  input.form-control(
                    id='lastName'
                  )

                .col-md-3

                  label.form-label Gender

                  select.form-select(
                    id='gender'
                  )

                    option(value='')
                      Select Gender

                    option(value='Male')
                      Male

                    option(value='Female')
                      Female

                .col-md-3

                  label.form-label Date of Birth

                  input.form-control(
                    type='date'
                    id='dob'
                  )

                .col-md-3

                  label.form-label Active

                  select.form-select(
                    id='isActive'
                  )

                    option(value='true')
                      Active

                    option(value='false')
                      Inactive

                .col-md-3

                  label.form-label Role

                  select.form-select(
                    id='roleId'
                  )

                .col-md-4

                  label.form-label Phone

                  input.form-control(
                    id='phone'
                  )

                .col-md-4

                  label.form-label Email

                  input.form-control(
                    id='email'
                  )

                .col-md-4

                  label.form-label County

                  select.form-select(
                    id='countyId'
                  )

                .col-md-4

                  label.form-label Subcounty

                  select.form-select(
                    id='subcountyId'
                  )

                .col-md-4

                  label.form-label Town

                  select.form-select(
                    id='townId'
                  )
                hr.mt-4.mb-3

                .col-md-4

                  label.form-label Employment Date

                  input.form-control(
                    type='date'
                    id='employmentDate'
                  )

                .col-md-4

                  label.form-label Contract Type

                  input.form-control(
                    id='contractType'
                  )

                .col-md-4

                  label.form-label Employment Status

                  input.form-control(
                    id='employmentStatus'
                  )

                .col-md-4

                  label.form-label Salary / Stipend

                  input.form-control(
                    type='number'
                    id='salaryStipend'
                  )

                .col-md-4

                  label.form-label License Expiry

                  input.form-control(
                    type='date'
                    id='licenseExpiry'
                  )

                .col-md-4

                  label.form-label Emergency Contact Name

                  input.form-control(
                    id='emergencyContactName'
                  )

                .col-md-4

                  label.form-label Emergency Contact Phone

                  input.form-control(
                    id='emergencyContactPhone'
                  )

                .col-md-12

                  label.form-label Notes

                  textarea.form-control(
                    rows='4'
                    id='notes'
                  )
            #staffAssignmentsTab.tab-pane.fade

              .d-flex.justify-content-between.mb-3

                h6.mb-0
                  | Assignment History

                button.btn.btn-primary.btn-sm(
                  type='button'
                  id='btnAddAssignment'
                )
                  i.fa.fa-plus.me-2
                  | Add Assignment

              .table-responsive

                table.table.table-striped

                  thead

                    tr

                      th Role
                      th Team
                      th Start Date
                      th End Date
                      th Active
                      th Reason

                  tbody#assignmentsTableBody
            #staffQualificationsTab.tab-pane.fade

              .d-flex.justify-content-between.mb-3

                h6.mb-0
                  | Qualifications

                button.btn.btn-primary.btn-sm(
                  type='button'
                  id='btnAddQualification'
                )
                  i.fa.fa-plus.me-2
                  | Add Qualification

              .table-responsive

                table.table.table-striped

                  thead

                    tr

                      th Qualification
                      th Institution
                      th Awarded
                      th Expiry

                  tbody#qualificationsTableBody
            #staffCertificationsTab.tab-pane.fade

              .d-flex.justify-content-between.mb-3

                h6.mb-0
                  | Certifications

                button.btn.btn-primary.btn-sm(
                  type='button'
                  id='btnAddCertification'
                )
                  i.fa.fa-plus.me-2
                  | Add Certification

              .table-responsive

                table.table.table-striped

                  thead

                    tr

                      th Certification
                      th Issuing Body
                      th Issue Date
                      th Expiry

                  tbody#certificationsTableBody
            #staffReviewsTab.tab-pane.fade

              .d-flex.justify-content-between.mb-3

                h6.mb-0
                  | Reviews

                button.btn.btn-primary.btn-sm(
                  type='button'
                  id='btnAddReview'
                )
                  i.fa.fa-plus.me-2
                  | Add Review

              .table-responsive

                table.table.table-striped

                  thead

                    tr

                      th Review Date
                      th Reviewer
                      th Score
                      th Comments

                  tbody#reviewsTableBody
          .mt-3.text-danger(
            id='teamFormError'
          )

        .modal-footer

          button.btn.btn-secondary(
            type='button'
            data-coreui-dismiss='modal'
          )
            | Cancel

          button.btn.btn-success(
            type='button'
            id='btnSaveTeam'
          )
            | Save Staff
  .modal.fade(
    id='deleteTeamModal'
    tabindex='-1'
    aria-hidden='true'
  )

    .modal-dialog

      .modal-content

        .modal-header

          h5.modal-title
            | Delete Staff

          button.btn-close(
            type='button'
            data-coreui-dismiss='modal'
          )

        .modal-body

          p
            | Are you sure you want to delete this staff member?

          input(
            type='hidden'
            id='deletestaffId'
          )

        .modal-footer

          button.btn.btn-secondary(
            type='button'
            data-coreui-dismiss='modal'
          )
            | Cancel

          button.btn.btn-danger(
            type='button'
            id='btnConfirmDeleteTeam'
          )
            | Delete Staff
append pageScripts

  script(type='module' src='js/teams.js')