-
  const nav = [
    {
      type: 'item',
      href: 'index.html',
      icon: 'node_modules/@coreui/icons/svg/free/cil-speedometer.svg',
      label: 'Dashboard',
      badge: { text: 'NEW', color: 'info' }
    },
    { type: 'title', label: 'UI Elements' },
    {
      type: 'item',
      href: 'charts.html',
      icon: 'node_modules/@coreui/icons/svg/free/cil-chart-pie.svg',
      label: 'Charts'
    },
    {
      type: 'group',
      icon: 'node_modules/@coreui/icons/svg/free/cil-puzzle.svg',
      label: 'Components',
      items: [
        { href: 'components/accordion.html', label: 'Accordion' },
        { href: 'components/alerts.html', label: 'Alerts' },
        { href: 'components/badge.html', label: 'Badge' },
        { href: 'components/breadcrumb.html', label: 'Breadcrumb' },
        { href: 'components/buttons.html', label: 'Buttons' },
        { href: 'components/button-group.html', label: 'Buttons Group' },
        { href: 'https://coreui.io/bootstrap/docs/components/calendar/', label: 'Calendar', target: '_blank', externalIcon: true, badge: { text: 'PRO', color: 'danger' } },
        { href: 'components/cards.html', label: 'Cards' },
        { href: 'components/carousel.html', label: 'Carousel' },
        { href: 'components/chip.html', label: 'Chip' },
        { href: 'components/collapse.html', label: 'Collapse' },
        { href: 'components/dropdowns.html', label: 'Dropdowns' },
        { href: 'components/list-group.html', label: 'List group' },
        { href: 'https://coreui.io/bootstrap/docs/components/loading-buttons/', label: 'Loading Buttons', target: '_blank', externalIcon: true, badge: { text: 'PRO', color: 'danger' } },
        { href: 'components/modals.html', label: 'Modals' },
        { href: 'components/navs-tabs.html', label: 'Navs & Tabs' },
        { href: 'components/pagination.html', label: 'Pagination' },
        { href: 'components/placeholders.html', label: 'Placeholders' },
        { href: 'components/popovers.html', label: 'Popovers' },
        { href: 'components/progress.html', label: 'Progress' },
        { href: 'components/spinners.html', label: 'Spinners' },
        { href: 'components/tables.html', label: 'Tables' },
        { href: 'components/toasts.html', label: 'Toasts' },
        { href: 'components/tooltips.html', label: 'Tooltips' }
      ]
    },
    {
      type: 'group',
      icon: 'node_modules/@coreui/icons/svg/free/cil-notes.svg',
      label: 'Forms',
      items: [
        { href: 'https://coreui.io/bootstrap/docs/forms/autocomplete/', label: 'Autocomplete', target: '_blank', externalIcon: true, badge: { text: 'PRO', color: 'danger' } },
        { href: 'forms/checks-radios.html', label: 'Checks and radios' },
        { href: 'forms/chip-input.html', label: 'Chip input' },
        { href: 'https://coreui.io/bootstrap/docs/forms/date-picker/', label: 'Date Picker', target: '_blank', externalIcon: true, badge: { text: 'PRO', color: 'danger' } },
        { href: 'https://coreui.io/bootstrap/docs/forms/date-range-picker/', label: 'Date Range Picker', target: '_blank', externalIcon: true, badge: { text: 'PRO', color: 'danger' } },
        { href: 'forms/floating-labels.html', label: 'Floating labels' },
        { href: 'forms/form-control.html', label: 'Form Control' },
        { href: 'forms/input-group.html', label: 'Input group' },
        { href: 'https://coreui.io/bootstrap/docs/forms/multi-select/', label: 'Multi Select', target: '_blank', externalIcon: true, badge: { text: 'PRO', color: 'danger' } },
        { href: 'https://coreui.io/bootstrap/docs/forms/otp-input/', label: 'OTP Input', target: '_blank', externalIcon: true, badge: { text: 'PRO', color: 'danger' } },
        { href: 'https://coreui.io/bootstrap/docs/forms/password-input/', label: 'Password Input', target: '_blank', externalIcon: true, badge: { text: 'PRO', color: 'danger' } },
        { href: 'forms/range.html', label: 'Range' },
        { href: 'https://coreui.io/bootstrap/docs/forms/range-slider/', label: 'Range Slider', target: '_blank', externalIcon: true, badge: { text: 'PRO', color: 'danger' } },
        { href: 'https://coreui.io/bootstrap/docs/forms/rating/', label: 'Rating', target: '_blank', externalIcon: true, badge: { text: 'PRO', color: 'danger' } },
        { href: 'forms/select.html', label: 'Select' },
        { href: 'https://coreui.io/bootstrap/docs/forms/stepper/', label: 'Stepper', target: '_blank', externalIcon: true, badge: { text: 'PRO', color: 'danger' } },
        { href: 'https://coreui.io/bootstrap/docs/forms/time-picker/', label: 'Time Picker', target: '_blank', externalIcon: true, badge: { text: 'PRO', color: 'danger' } },
        { href: 'forms/layout.html', label: 'Layout' },
        { href: 'forms/validation.html', label: 'Validation' }
      ]
    },
    {
      type: 'group',
      icon: 'node_modules/@coreui/icons/svg/free/cil-star.svg',
      label: 'Icons',
      items: [
        { href: 'icons/coreui-icons-free.html', label: 'CoreUI Icons', badge: { text: 'Free', color: 'success' } },
        { href: 'icons/coreui-icons-brand.html', label: 'CoreUI Icons - Brand' },
        { href: 'icons/coreui-icons-flag.html', label: 'CoreUI Icons - Flag' }
      ]
    },
    {
      type: 'item',
      href: 'widgets.html',
      icon: 'node_modules/@coreui/icons/svg/free/cil-calculator.svg',
      label: 'Widgets',
      badge: { text: 'NEW', color: 'info' }
    },
    { type: 'divider' },
    { type: 'title', label: 'Extras' },
    {
      type: 'group',
      icon: 'node_modules/@coreui/icons/svg/free/cil-lock-locked.svg',
      label: 'Authentication',
      items: [
        { href: 'authentication/login.html', label: 'Login', target: '_top' },
        { href: 'authentication/register.html', label: 'Register', target: '_top' },
        { href: 'authentication/check-email.html', label: 'Check Email', target: '_top' },
        {
          type: 'group',
          label: 'Forgot password',
          items: [
            { href: 'authentication/reset-password.html', label: 'Reset Password', target: '_top' },
            { href: 'authentication/change-password.html', label: 'Change Password', target: '_top' },
            { href: 'authentication/password-changed.html', label: 'Password Changed', target: '_top' },
          ]
        },
      ]
    },
    {
      type: 'group',
      icon: 'node_modules/@coreui/icons/svg/free/cil-bug.svg',
      label: 'Error pages',
      items: [
        { href: 'error-pages/404.html', label: '404', target: '_top' },
        { href: 'error-pages/500.html', label: '500', target: '_top' }
      ]
    },
    {
      type: 'item',
      href: 'https://coreui.io/bootstrap/docs/templates/installation/',
      icon: 'node_modules/@coreui/icons/svg/free/cil-description.svg',
      label: 'Docs',
      target: '_blank',
      itemClass: 'mt-auto'
    },
    {
      type: 'item',
      href: 'https://coreui.io/product/bootstrap-dashboard-template/',
      icon: 'node_modules/@coreui/icons/svg/free/cil-layers.svg',
      iconClass: 'text-primary',
      label: 'Try CoreUI PRO',
      target: '_top',
      linkClass: 'text-primary fw-semibold'
    }
  ]

mixin navItemIcon(item)
  if item.icon
    +inlineSvg(item.icon).nav-icon(class=item.iconClass)
  else
    span.nav-icon
      span.nav-icon-bullet

mixin navItem(item)
  li.nav-item(class=item.itemClass)
    a.nav-link(href=item.href class=item.linkClass target=item.target)
      +navItemIcon(item)
      |  #{item.label}
      if item.externalIcon
        +inlineSvg('node_modules/@coreui/icons/svg/free/cil-external-link.svg').icon.icon-sm.ms-2
      if item.badge
        span.badge.badge-sm(class=`bg-${item.badge.color}`).ms-auto= item.badge.text

mixin navGroup(group)
  li.nav-group
    a.nav-link.nav-group-toggle(href='#')
      if group.icon
        +inlineSvg(group.icon).nav-icon
      else
        span.nav-icon
          span.nav-icon-bullet
      |  #{group.label}
    ul.nav-group-items.compact
      each item in group.items
        if item.type === 'group'
          +navGroup(item)
        else
          +navItem(item)

ul.sidebar-nav(data-coreui="navigation" data-simplebar)
  each item in nav
    if item.type === 'item'
      +navItem(item)
    else if item.type === 'title'
      li.nav-title= item.label
    else if item.type === 'group'
      +navGroup(item)
    else if item.type === 'divider'
      li.nav-divider
