.sidebar.sidebar-dark.sidebar-fixed.border-end.d-none#sidebar

  .sidebar-header.border-bottom.d-flex.align-items-center.justify-content-between.px-3

    h5.mb-0.text-white
      | Thika Tandem

    button.btn-close.d-lg-none(
      type='button'
      data-coreui-theme="dark"
      aria-label='Close'
      onclick='coreui.Sidebar.getInstance(document.querySelector("#sidebar")).toggle()'
    )

  #roleSidebar

    include sidebar-nav

  .sidebar-footer.border-top.d-none.d-md-flex

    button.sidebar-toggler(
      type="button"
      data-coreui-toggle="unfoldable"
    )